{% extends "layout.html" %}
{% block content %}
<h2>펌웨어 업로드</h2>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <script>alert("{{ messages[0] }}");</script>
  {% endif %}
{% endwith %}
<form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
    <label for="version">버전:</label>
    <input type="text" name="version" required><br><br>

    <label for="ecu">ECU 선택:</label>
    <select name="ecu" required>
        <option value="motor">Motor</option>
        <option value="transmission">Transmission</option>
        <option value="bms">BMS</option>
        <option value="abs">ABS</option>
        <option value="brake">Brake</option>
        <option value="steering">Steering</option>
        <option value="adas">ADAS</option>
        <option value="vum">VUM</option>
        <option value="telematic">Telematic</option>
        <option value="rain">Rain</option>
        <option value="illuminate">Illuminate</option>
        <option value="light">Light</option>
        <option value="seat">Seat</option>
        <option value="obd">OBD</option>
        <option value="cluster">Cluster</option>

    </select><br><br>

    <label for="file">파일 첨부:</label>
    <input type="file" name="file" required><br><br>

    <button type="submit">업로드</button>
</form>
{% endblock %}